
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: linen;
}

.app {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.plate {
  background-color: gold;
  width: 240px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 0;
}

.droplet {
  position: absolute;
  border-radius: 30px;
  transition: top 5s, left 5s;
}

.container {
  position: relative;
  width: 280px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.box {
  width: 57px;
  height: 57px;
  background-color: goldenrod;
  border: none;
}

.process-bar {
  background-color: goldenrod;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.sec {
  height: 17px;
  width: 5px;
  background-color: black;
  border-radius: 15px;
  border: none;
}